form{
    background-color: rgb(74, 54, 230);
    border-color: blue;
    border-radius: 10px;
}
section{
    text-align: center;
}
button{
    background-color: rgb(101, 101, 233);
    
    
}
.container{
    border-color: blue;
     margin-left: auto;
    margin-right: auto;
    width: 800px;
}
legend{
    
    color: antiquewhite;
    background-color: rgb(98, 98, 200);
    border-radius: 10px;
}
fieldset{
    border-color: rgb(119, 119, 207);
    border-radius: 10px;
}